:root {
    /* cf. general.js */

    --light-bg_clr: #c1c1c1;
    --dark-bg_clr: rgb(59, 64, 66);
    --param-bg_clr: var(--light-bg_clr);

    --light-section_clr: #fff;
    --dark-section_clr: rgb(35, 37, 38);
    --param-section_clr: var(--light-section_clr);

    --light-txt_clr: rgb(35, 37, 38);
    --dark-txt_clr: #d1cdc7;
    --param-txt_clr: var(--light-txt_clr);

    --light-footer_bg_clr: #f0f0f0;
    --dark-footer_bg_clr: rgb(47, 51, 54);
    --param-footer_bg_clr: var(--light-footer_bg_clr);

    --light-special_txt_clr: #616161;
    --dark-special_txt_clr: #939393;
    --param-special_txt_clr: var(--light-special_txt_clr);
}

html {
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Trois lignes : une pour l'en-tête, une pour le contenu, une pour le footer */

    min-height: 100vh; /* Pour que le contenu s'étende sur toute la hauteur de la fenêtre */
    margin: 0;
    padding: 0;

    background-color: var(--param-bg_clr);
}

header {
    grid-row: 1;

    display: grid;

    height: 130px;
}

#subPage {
    grid-row: 2;

    padding: 1% 2%;
    margin: 0 15%;

    border: 0 solid #000;

    box-shadow: 8px 8px 7px #888;

    background-color: var(--param-section_clr);
}

footer {
    grid-row: 3;

    background-color: var(--param-footer_bg_clr);
    text-align: center;
    padding: 10px 0;
}

/* ----------------------------- */

h1, h2, h3, p {
    color: var(--param-txt_clr);
}

header > #iconsAndPageTitle {
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    max-height: 10%;
    min-height: 0;
    min-width: 0;
}

header > #iconsAndPageTitle > a {
    grid-column: 1;

    max-height: 100%;
    overflow: hidden;
    min-width: 0;
}

header > #iconsAndPageTitle > a > img {
    height: 100%;
}

header > #iconsAndPageTitle > h1 {
    grid-column: 2;
    text-align: center;

    max-height: 100%;
}


nav {
    grid-row: 2;

    background: var(--param-footer_bg_clr);
    border: 1px solid #ccc;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    text-align: center;
    border: 1px solid #ccc;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--param-special_txt_clr);
    padding: 10px 0;
}


#theme_icon:hover {
    cursor: pointer;
}

