:root {
    /* cf. general.js */

    --light-bg_clr: #c1c1c1;
    --dark-bg_clr: rgb(59, 64, 66);
    --param-bg_clr: var(--light-bg_clr);

    --light-section_clr: #fff;
    --dark-section_clr: rgb(35, 37, 38);
    --param-section_clr: var(--light-section_clr);

    --light-txt_clr: rgb(35, 37, 38);
    --dark-txt_clr: #d1cdc7;
    --param-txt_clr: var(--light-txt_clr);

    --light-footer_bg_clr: #f0f0f0;
    --dark-footer_bg_clr: rgb(47, 51, 54);
    --param-footer_bg_clr: var(--light-footer_bg_clr);

    --light-special_txt_clr: #616161;
    --dark-special_txt_clr: #939393;
    --param-special_txt_clr: var(--light-special_txt_clr);
}

html {
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: 140px auto 140px;
    grid-row-gap: 30px;

    min-height: 100vh; /* Pour que le contenu s'étende sur toute la hauteur de la fenêtre */
    margin: 0;
    padding: 0;

    background-color: var(--param-bg_clr);
}

header {
    grid-row: 1;

    display: flex;
    flex-direction: column;
}

#subPage {
    grid-row: 2;

    padding: 1% 2%;
    margin: 0 15%;

    border: 0 solid #000;

    box-shadow: 8px 8px 7px #888;

    background-color: var(--param-section_clr);
}

footer {
    grid-row: 3;

    background-color: var(--param-footer_bg_clr);
    text-align: center;
    padding: 10px 0 0 0;
    min-height: 210px;
}

/* ----------------------------- */

br {
    margin-bottom: 15px;
}

h1, h2, h3, p, li {
    color: var(--param-txt_clr);
}

header > #iconsAndPageTitle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    min-height: 0;
    min-width: 0;
}

header > #iconsAndPageTitle > #theme_icon_div {
    grid-column: 1;

    max-height: 100%;
    overflow: hidden;

    min-width: 0;
    max-width: 100px;
}

header > #iconsAndPageTitle > #theme_icon_div > a > img {
    width: 100%;
    height: auto;
}

#theme_icon:hover {
    cursor: pointer;
}


header > #iconsAndPageTitle > h1 {
    grid-column: 2;
    text-align: center;

    max-height: 100%;
}

header > #iconsAndPageTitle > #language_icon_div {
    grid-column: 3;

    position: absolute;
    right: 0;
}

header > #iconsAndPageTitle > #language_icon_div > img {
    max-height: 100%;
    overflow: hidden;
    min-width: 0;

    max-width: 100px;
    height: auto;
}

/* Dropdown button on hover & focus */
#language_icon:hover, #language_icon:focus {
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
#language_dropdown {
    margin-top: -6%;

    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
#language_dropdown > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
#language_dropdown > a:hover {
    background-color: #ddd;
}

header > nav {
    background: var(--param-footer_bg_clr);
    border: 1px solid #ccc;

    height: 40px;
}

header > nav > #sectionsMenu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    padding: 0;
    margin: 0;

    height: 100%;
}

header > nav > #sectionsMenu > .sectionsMenuItem {
    text-align: center;
    border: 1px solid #ccc;

    min-height: 100%;
}

header > nav > #sectionsMenu > .sectionsMenuItem > a {
    display: block;
    text-decoration: none;
    color: var(--param-special_txt_clr);
    padding: 10px 0 0 0;

    max-height: 100%;
}


/* JS Props */
.hide {
    display: none;
}

.show {
    display: block;
}
